name: Publish gem to rubygems.org

on:
  workflow_dispatch:

jobs:
  release:
    if: github.repository == 'sue445/sashimi_tanpopo'
    runs-on: ubuntu-latest

    outputs:
      tag_name: ${{ steps.set_output.outputs.tag_name }}

    environment:
      name: rubygems.org
      url: https://rubygems.org/gems/sashimi_tanpopo

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93 # v1.277.0
        with:
          bundler-cache: true
          ruby-version: ruby

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      # ref. https://zzzkan.me/blog/github-action-direct-push/
      - name: Prepare for git push by GitHub App
        run: |
          git config user.name ${GIT_USER_NAME}
          git config user.email ${GIT_USER_EMAIL}
          bundle exec rake fix_version
          git push
        env:
          GIT_USER_NAME: "${{ steps.app-token.outputs.app-slug }}[bot]"
          GIT_USER_EMAIL: "${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com"

      - name: Publish to RubyGems
        uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b # v1.1.2

      - name: Create GitHub release
        run: |
          tag_name="$(git describe --tags --abbrev=0)"
          gh release create "${tag_name}" --verify-tag --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - id: set_output
        run: |
          tag_name="$(git describe --tags --abbrev=0)"
          echo "tag_name=${tag_name}" >> "$GITHUB_OUTPUT"

  push_to_ghcr_io:
    needs:
      - release

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ghcr.io/sue445/sashimi_tanpopo

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set TAG_VERSION
        run: |
          set -xe
          echo "TAG_VERSION=${TAG_NAME#v}" >> $GITHUB_ENV
        env:
          TAG_NAME: ${{ needs.release.outputs.tag_name }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: |
            ghcr.io/sue445/sashimi_tanpopo:${{ needs.release.outputs.tag_name }}
            ghcr.io/sue445/sashimi_tanpopo:latest
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            SASHIMI_TANPOPO_VERSION=${{ env.TAG_VERSION }}

      - name: Slack Notification
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: always()
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
